<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <div style="width:100%">
    <%= image_tag(@book.image) %>
  </div>
</p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Borrowed:</strong>
  <%= @book.borrowed %>
</p>

<p>
  <strong>Category:</strong>
  <%= @book.category.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @book.user.email %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
